body{
    background-color: #eeeef6;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    background-color:#eeeef6;
}
.searchStudent-name,
.searchStudent-full-name,
.searchStudent-Catg{
    border: 1px solid #a5a5a5;
    box-shadow: 1px 2px 4px 0px #888888;
}
.srch-btn{
    width:10em;
    background-color: #181a46;
    color: white;
}
.srch-btn:hover {
  background-color: black;
  color: white;
}
.searchStudent{
    display:flex;
    justify-content:end;
    margin: 20px;
}
.searchStudent > input, 
.searchStudent > select.form-select{
    margin-right:5px;
    width: auto;
}
.loading{
    display:none;
}
.loading.active{
    display: block;
}
.search-result-section-hide{
    display: none;
}
.person-record-section-form-hidden{
    display: none;
}
/* .person-record-section{
    display: none;
} */
.search-result-tbl-tr > td{
    background-color: #181a46;
    color:white;
    font-weight: bold;
}
.thtable-action,
.tdtable-action{
    text-align: center;
}
.btn-table-hstry{
    width:6em;
    background-color: #f0b74d;
    color: white;
}
.btn-table-hstry:hover{
    background-color: #ca993e;
    color: white;
}
.btn-table-new{
    width:6em;
    background-color: #45b545;
    color: white;
}
.btn-table-new:hover{
    background-color: #2f802f;
    color: white;
}
.card{
    border:1px solid rgb(223, 223, 223);
    padding:20px;
    margin:10px;
    box-shadow: 2px 3px 10px #888888;
}
.person-record{
    width:60%;
}
.person-record-header{
    display: flex;
}
.person-img{
    width: 11%;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border:1px solid rgb(223, 223, 223);
    box-shadow: 2px 1px 5px #888888;
    border-radius: 15px;
}
.person-img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.person-info-fullname, 
.person-info-ageGender > p{
    margin-bottom: 0;
}
.person-info{
    padding-left: 20px;
}
.person-info-grdSec{
    font-weight: bold;
}
.person-triage-info{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.triage-info-form-pt1,
.triage-info-form-pt2,
.triage-info-form-pt3{
    margin: 20px;
}
.form-date,
.form-time{
    width: auto;
    margin: 10px;
    background-color: eeeef6;
    border: 1px solid #a5a5a5;
    /* box-shadow: 4px 2px 8px 0px #888888; */
}
.form-reason{
    width: 76%;
    background-color: eeeef6;
    border: 1px solid #a5a5a5;
    /* box-shadow: 4px 2px 8px 0px #888888; */
}
.form-label-reason{
    font-weight: bold;
}
.form-prior,
.form-present,
.form-interv{
    width: 76%;
    background-color: eeeef6;
    border: 1px solid #a5a5a5;
    /* box-shadow: 4px 2px 8px 0px #888888; */
}
.triage-info-vitals{
    display:grid;
    grid-template-columns: 100px 150px 130px 130px;
}
.triage-info-vitals1 > div, 
.triage-info-vitals2 > div,
.triage-info-vitals3 > div,
.triage-info-vitals4 > div{
    margin-bottom: 5px;
}
.triage-info-vitals1, 
.triage-info-vitals2,
.triage-info-vitals3,
.triage-info-vitals4{
    margin-right: 10px;
    /* background-color: orange; */
}
.line-input {
  border: none;
  border-bottom: 1px solid #000;  
  background: transparent;        
  outline: none;                 
  padding: 4px 0;                
  width: 50px;                   
}
.triage-info-form-confirm{
    margin-left: 20px;
    margin-bottom: 10px;
}
.submit-btn{
    width:8em;
    background-color: #181a46;
    color: white;
    margin-left: 20px;
}
.submit-btn:hover{
    background-color: #45b545;
    color: white;
}
.new-record-btn{
    background-color: #45b545;
    color: white;
    margin-left: 20px;
}
.new-record-btn:hover{
    background-color: #2f802f;
    color: white; 
}
.triage-info-hist-date{
    margin-right: 10px;
}
.triage-info-hist-dateTime{
    margin-bottom: 10px;
}
.alert-box {
  display: none;               
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #28a745;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.alert-box.show {
  display: block;
  opacity: 1;
}
